{% extends 'base.html' %} {% block content %}
<form action="" method="post">
	{% csrf_token %} {{form.as_p}}

	<div class="row center">
		<div class="col s6">
			<button class="btn waves-effect green" type="submit" name="action">
				Crear Tarea
				<i class="material-icons right">send</i>
			</button>
		</div>
		<div class="col s6">
			<a href="{% url 'home' %}" class="waves-effect blue-grey darken-4 btn"
				><i class="material-icons right">arrow_back</i>Regresar</a
			>
		</div>
	</div>
</form>
{% endblock content %}
